langchain
python-dotenv
pymupdf 
chromadb 
sentence-transformers 
fastmcp 
groq
langchain_community
langchain_text_splitters 
sentence-transformers
chromadb
langchain-chroma
langchain_huggingface
langchain-groq
fastmcp